@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.home {
  background-size: cover;
  background-position: center;
  background-color: grey;
  padding: 150px 0;
  height: 60vh;
  margin-top:0px;
  padding-top:60px;
  display: flex;
  position: relative;
  box-shadow: 3px 3px 3px 0 black;
}

.home-title {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
  font-family: 'Spectral', serif;
  display: grid;
  // text-align: center;
  margin-top: 55px;
}

.h1-title{
  position:absolute;

  text-align: center;
  // justify-content: left;
  // display: grid;
  // place-items: center;
  margin: 0 auto;
  margin-top: 24px;
  width: 100%;
  padding-top: 70px;



  // text-align: center;
  justify-content: center;
  display: grid;
  // place-items: center;
  margin: 24px;

}

.h1-title p{
  color:white;
}

.home-page {
  font-size: 20px;
  color: red;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat{
  color: white;
  right: 30px;
  border: solid white;
}

.h2-home{
  color:white;
  font-size: 40px;
  padding-top: 0;
}

