
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.EU{
  display: inline-block;
  text-align: center;
  text-size: 1.5rem;
  padding: 5%;
  // space-between: 10px;
}


.container-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // margin-top: 30px;
  // margin-bottom: 30px;
  grid-gap: 16px;
  margin: 16px;

  // justify-content: between;
}

.card-home{
  // grid-gap: space-between;
  margin: 16px;
  border-radius: 10%;
  border-box: 3px 3px 3px 0;

}

.featured-ghosts{
  justify-content: center;
}

img{
  object-fit:contain;
  width: 100%;
  border-box: 3px 3px 3px 0 black;

  // border-radius: 10px;
  // box-shadow: 2px 2px 2px 0 black;

}

.card-text {
  text-align: center;
  font-weight: bold;
  font-family: 'Spectral', serif;;
  font-size: 25px;
  color: white;
}

.card-text:hover{
  color: grey;
}
h2{
 margin-top: 20px;
 text-align: center;
 font-family: 'Spectral', serif;;
 color: black;
}

.home-page{
  background-color: #201F1F;
}

